---
import BaseLayout from "../../layouts/base.astro";
import fetchApi from "../../lib/strapi";

export async function getStaticPaths() {
  const designers = await fetchApi({
    endpoint: "designers",
    wrappedByKey: "data",
  });
  const paths = designers.map((designer, i) => ({
    params: { slug: designer.slug },
    props: {
      designer,
    },
  }));
  console.log(paths);

  return paths;
}

const { designer } = Astro.props;
---

<BaseLayout pageTitle={designer.lastname}>
  <h2>Products in the <span>{designer.lastname}</span> category</h2>
</BaseLayout>
