---
import { getCollection } from "astro:content";
import Markdown from "../../layouts/markdown.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
  const heroesEntries = await getCollection("designers");
  return heroesEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}
---

<Markdown>
  <div slot="top">
    <a href="/#designers">Designers</a>
    <h2><span>{entry.data.name}</span></h2>
  </div>
  <Content />
  <div slot="sidebar" class="profile">
  </div>
</Markdown>

