---

---
<section>
    <h2>The Atlas of Furniture Design</h2>
    <img src="" alt="">
    <p>
        The Atlas of Furniture Design is an unparalleled resource, documenting
        over 1,000 iconic pieces that have shaped the way we live and work.
        Created by the Vitra Design Museum, it offers an in-depth look into the
        social, cultural, and technological innovations behind the world's most
        famous furniture.
    </p>
    <p><a href="">buy the book</a></p>
</section>
