---
import { Image } from "astro:assets";
import Button from "../../components/button.astro";
---

<style>
    .header {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 60vh min-content;
        align-items: end;
        justify-items: end;
        gap: var(--sp-xl);
        margin-bottom: var(--sp-3xl);
    }

    .title {
        display: flex;
        flex-direction: column;
        font-size: var(--fs-5);
        margin-left: var(--sp-3xl);
        grid-column: 1;
        grid-row: 1;
    }

    .intro {
        background-color: var(--color-black);
        color: var(--color-white);
        font-size: var(--fs-4);
        line-height: 1.3;
        font-weight: 600;
        padding: var(--sp-xl)  var(--sp-3xl);
    }

    .image {
        grid-column: 2;
        grid-row: 1 / 3;
        object-fit: cover;
    }

    .btn > div {
    }
</style>

<section>
    <div class="header">
        <h2 class="title">
            <span class="italic light">(online)</span> Atlas of furniture design
        </h2>

        <Button
            buttonText={"discover the collection -->"}
            ,
            btnURL={"/furniture"}
            ,
            btnClass={"btn"}
        />

        <Image
            src="/headerIMG.png"
            alt="Product image"
            width="1440"
            height="810"
            widths={[250, 350, 500, 750]}
            format="avif"
            sizes="(min-width: 2960px) calc(12.5vw - 118px), (min-width: 2600px) calc(5vw + 121px), (min-width: 2240px) calc(5.29vw + 131px), (min-width: 1900px) calc(5vw + 157px), (min-width: 1540px) calc(4.71vw + 180px), (min-width: 1160px) calc(3.33vw + 217px), (min-width: 1120px) calc(325vw - 3455px), (min-width: 760px) calc(3.53vw + 229px), (min-width: 540px) calc(42vw - 43px), calc(8.18vw + 225px)"
            class="image"
        />
    </div>

    <p class="intro">
        Based on one of the world's largest collections of furniture, this
        website presents a overview of the history if modern furniture design up
        until the present day. From early industrial furniture and Classical
        Modernism through to the post-war period, Postmodernism and contemporary
        tendencies.
    </p>
</section>
