---

---
<section class="container">
    <h2>
        (online)<br />
        Atlas of<br />
        Furniture Design
    </h2>
    <a class="button" href="#furniture">discover the collection</a>

    <p>
        Based on one of the world's largest collections of furniture, this website presents a overview of the history if modern furniture design up until the present day.
        From early industrial furniture and Classical Modernism through to the post-war period, Postmodernism and contemporary tendencies.
    </p>
</section>
