---
import FurnitureCard from "../../components/FurnitureCard.astro";
import Button from "../../components/button.astro";

import fetchApi from "../../lib/strapi.js";

// const furnitures = await fetchApi({
//     endpoint: "furnitures",
//     query: {
//         pagination: {
//             pageSize: 50,
//         },
//         populate: ["image", "designers", "tags", "tags.name"],
//     },
//     wrappedByKey: "data",
// });

const tags = await fetchApi({
    endpoint: "tags",
    query: {
        pagination: {
            pageSize: 50,
        },
        populate: ["furnitures", "furnitures.image"],
    },
    filters: {
        name: {
            $eq: "popular",
        },
    },
    wrappedByKey: "data",
});
---

<style>
    section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: max-content;
        align-items: center;
    }

    .furnitures__list {
        grid-column: 1 / 3;
        overflow: scroll;
        display: flex;
    }

    .furnitures__list::-webkit-scrollbar {
        display: none;
    }

    .btn {
        grid-column: 2;
        grid-row: 1;
        justify-self: end;
    }
</style>

<section class="container">
    <h2 class="section__title">Featured furniture</h2>
    <ul class="furnitures__list">
        {
            tags.map((tag) => (
                <li>
                    {tag.name}
                    <ul>
                        {tag.furnitures.map((furniture) => (
                            <li>
                                <FurnitureCard furniture={furniture} />
                            </li>
                        ))}
                    </ul>
                </li>
            ))
        }
    </ul>

    <div class="btn">
        <Button
            buttonText={"discover the collection -->"}
            ,
            btnURL={"/furniture"}
            ,
            btnClass={"btn"}
        />
    </div>
</section>
