---
//components & layouts
import Base from "../layouts/base.astro"
import ListPage from "../components/listPage.astro";
import FurnitureCard from "../components/furnitureCard.astro";
import Filter from "../components/filter.astro";

//API
import fetchApi from "../lib/strapi";
const furnitures = await fetchApi({
    endpoint: "furnitures",
    query: {
        pagination: {
            pageSize: 50,
        },
        sort: ["firstProduction"],
        populate: ["image", "designers", "object_type"],
    },
    wrappedByKey: "data",
});

const objectTypes = await fetchApi({
    endpoint: "manufacturers",
    wrappedByKey: "data",
});
---

<Base title="furniture">
    <ListPage title={"furniture"}>
        <div slot="filter">
            <Filter filters={objectTypes} filterName={"name"} />
        </div>

        {
            furnitures.map((furniture) => (
                <li data-category={furniture.object_type.slug}>
                    <FurnitureCard furniture={furniture} />
                </li>
            ))
        }
    </ListPage>
</Base>
