---
import BaseLayout from "../../layouts/base.astro";
import fetchApi from "../../lib/strapi";

export async function getStaticPaths() {
  const furnitures = await fetchApi({
    endpoint: "furnitures",
    wrappedByKey: "data",
  });
  const paths = furnitures.map((furniture, i) => ({
    params: { slug: furniture.slug },
    props: {
      furniture,
    },
  }));
  console.log(paths);

  return paths;
}

const { furniture } = Astro.props;
---

<BaseLayout pageTitle={furniture.lastname}>
  <h2>Products in the <span>{furniture.lastname}</span> category</h2>
</BaseLayout>
