---
import { Image } from "astro:assets";
import Button from "../components/button.astro";
---

<style>
    .section__content {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: min-content 1fr;
        gap: var(--sp-m);
        justify-items: start;
        align-items: start;
    }

    .image {
        grid-column: 2;
        grid-row: 1 / 3;
        height: 25rem;
        object-fit: contain;
        object-position: right;
    }

    .content__text {
        grid-row: 1;
        grid-column: 1;
    }
</style>

<section class="container">
    <h2 class="section__title">The Atlas of Furniture Design</h2>
    <div class="section__content">
        <Image
            src="/atlas-of-furniture.jpg"
            alt="Product image"
            width="1200"
            height="1200"
            widths={[351, 750, 1200, 1540, 1810, 2048]}
            format="avif"
            sizes="(min-width: 2040px) 1200px, calc(65.35vw - 120px)"
            class="image"
        />
        <p class="content__text">
            The Atlas of Furniture Design is an unparalleled resource,
            documenting over 1,000 iconic pieces that have shaped the way we
            live and work. Created by the Vitra Design Museum, it offers an
            in-depth look into the social, cultural, and technological
            innovations behind the world's most famous furniture.
        </p>
        <Button
            buttonText={"Buy the Atlas of Furniture ↗︎"}
            ,
            btnURL={"https://www.vitra.com/nl-be/product/details/atlas-of-furniture-design?srsltid=AfmBOooJzGIGYXp9jS7E40p7aZb-FTIltewXKrdU2AOitz2TTQYK0C2h"}
            ,
            btnClass={"btn"}
        />
    </div>
</section>
