---
const { buttonText, btnURL } = Astro.props;
---

<style>
    div {
        font-size: var(--fs-1);
        font-weight: 300;
        transition: all 0.5s;
        padding: var(--sp-2xs) var(--sp-xs);
        border: 1px solid var(--color-black);
        transition: all 0.5s;
    }

    div:hover {
        color: #fff;
        font-weight: 400;
        background-color: var(--color-black);
    }

    div:hover > a {
        color: #fff;
        font-weight: 400;
    }
</style>

<div><a href={btnURL}>{buttonText}</a></div>
