---
import DesignerCard from "../components/designerCard.astro";

import fetchApi from "../lib/strapi";
const { designers } = Astro.props;
console.log(designers);
---

<ul>
    {
        designers.map((designer) => (
            <li>
                <DesignerCard designer={designer} />
            </li>
        ))
    }
</ul>
