---
const { objectTypes } = Astro.props;
---

<script>
    const handleOptionChange = () => {
        const selection = [
            ...document.querySelectorAll(".filteroption:checked"),
        ].map(($input) => $input.value);

        console.log(selection);

        if (selection.length > 0) {
            document
                .querySelectorAll("[data-category]")
                .forEach(($li) => $li.classList.add("hidden"));

            selection.forEach((category) => {
                document
                    .querySelectorAll(`[data-category="${category}"]`)
                    .forEach(($li) => $li.classList.remove("hidden"));
            });
        } else {
            document
                .querySelectorAll("[data-category]")
                .forEach(($li) => $li.classList.remove("hidden"));
        }
    };

    const options = document.querySelectorAll(".filteroption");
    console.log(options);
    options.forEach((option) =>
        option.addEventListener("click", handleOptionChange),
    );

    console.log("hallo");
</script>

<style>
    ul {
        display: flex;
        gap: var(--sp-2xs);
        flex-wrap: wrap;
        justify-content: center;
    }

    input {
        display: none;
    }

    li {
        padding: var(--sp-2xs) var(--sp-xs);
        border: 1px solid var(--color-black);
        font-size: var(--fs-1);
        font-weight: 300;
        transition: all 0.5s;
    }

    li:hover,
    li:has(input:checked) {
        background-color: var(--color-black);
        color: #fff;
        font-weight: 400;
    }

    /* label:has(input:checked):hover {
        background-color: transparent;
        color: var(--color-black);
    } */
</style>

<ul>
    {
        objectTypes.map((objectType) => (
            <li>
                <label>
                    <span>{objectType.name}</span>
                    <input
                        class="filteroption"
                        type="checkbox"
                        value={objectType.slug}
                        name="filter"
                    />
                </label>
            </li>
        ))
    }
</ul>
