<div class="container">
    <footer>
        <nav>
            <span>(online) Atlas of Furniture Design</span>
            <a href="/"></a>
            <ul class="nav__list" id="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="/furniture">Furniture</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/designer">Designers</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="/manufacturers">Manufacturers</a>
                </li>
            </ul>
        </nav>
        <p class="credits">
            This website is based on the Atlas of Furniture Design by the Vitra
            Design Museum. We thank the museum for its dedication to preserving
            and sharing the history of modern furniture design.
        </p>
    </footer>
</div>
