---
import FurnitureCard from "../components/furnitureCard.astro";
const { furnitures } = Astro.props;
---

<style>
    ul {
        margin: var(--sp-m);
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(auto-fill, minmax(10rem, 21rem));
        gap: var(--sp-s);
    }
</style>

<ul>
    {
        furnitures.map((furniture) => (
            <li data-objectType={furniture.objectType?.slug}>
                <FurnitureCard furniture={furniture} />
            </li>
        ))
    }
</ul>
