---
import { Image } from "astro:assets";
import Button from "../components/button.astro";
---

<style>
    .header {
        display: grid;
        grid-template-columns: max-content 1fr;
        grid-template-rows: 55vh min-content;
        align-items: end;
        justify-items: end;
        gap: var(--sp-xl);
        margin-bottom: var(--sp-3xl);
    }

    .title {
        display: flex;
        flex-direction: column;
        font-size: var(--fs-5);
        margin-left: var(--sp-3xl);
        grid-column: 1;
        grid-row: 1;
    }

    .intro {
        background-color: var(--color-black);
        color: var(--color-white);
        font-size: var(--fs-4);
        line-height: 1.3;
        font-weight: 600;
        padding: var(--sp-xl) var(--sp-3xl);
    }

    .image {
        height: 70vh;
        grid-column: 2;
        grid-row: 1 / 3;
        object-fit: cover;
        object-position: left;
    }

    .btn > div {
    }
</style>

<section>
    <div class="header">
        <h2 class="title">
            <span class="italic light">(online)</span> Atlas of furniture design
        </h2>

        <Button
            buttonText={"discover the collection -->"}
            ,
            btnURL={"/furniture"}
            ,
            btnClass={"btn"}
        />

        <Image
            src="/headerIMG.png"
            alt="Product image"
            width="2880"
            height="1620"
            widths={[256, 1134, 1500, 1800, 2048]}
            format="avif"
            sizes="(min-width: 1300px) calc(100vw - 786px), calc(80.67vw - 539px)"
            class="image"
        />
    </div>

    <p class="intro">
        Based on one of the world's largest collections of furniture, this
        website presents a overview of the history if modern furniture design up
        until the present day. From early industrial furniture and Classical
        Modernism through to the post-war period, Postmodernism and contemporary
        tendencies.
    </p>
</section>
